# Plantilla de Configuración del Sistema
FLASK_APP=app.py
FLASK_ENV=production
FLASK_SECRET_KEY=0810

# Configuración de Base de Datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=usuario_db
DB_PASSWORD=password_db
DB_NAME=defaultdb