{% extends 'base.html' %}

{% block title %}Redefinir Contraseña - FaCyT{% endblock %}

{% block content %}
<article style="max-width: 500px; margin: 0 auto;">
    <header>
        <h3 style="text-align: center;">Establecer Nueva Contraseña 🔒</h3>
    </header>
    
    <form action="/recuperar-acceso/redefinir/{{ token }}" method="POST">
        <label for="password">Nueva Contraseña:</label>
        <input type="password" id="password" name="password" placeholder="••••••••" required>

        <input type="submit" value="Cambiar Contraseña" class="primary">
    </form>
</article>
{% endblock %}